@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
    --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: all .5s linear;
  overflow-x:hidden ;
}

/* About Section  */

#home{
  display: flex;

  #home-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 80px 112px;

    h2{
      font-size: 36px;
      text-transform: uppercase;

    }

    h1{
      font-size: 48px;
      font-weight: 700;
      color: #5500e9;
      text-transform: uppercase;
    }
    p{
      font-size: 17px;
      color: gray;
      width: 80%;

      span{
        color: #5500e9;
        font-weight: 700;
      }
    }

    button{
      padding: 8px;
      width: 150px;
      border-radius: 99px;
      background-color: #0010e9;
      &:hover{
        background: #005288;
      }
    }  
    
    
  }
}

#home-image{
  width: 50%;

  #image-div{
    width: 420px;
    position: relative;
    margin: 40px 80px 40px 20px ;
    background-image: linear-gradient(to right , #5500e9 , #005288);
    overflow: hidden;
    border-top-right-radius: 100px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 100px;
  }
}

nav ul li:hover{
  color: #005288;
}

input , textarea{
  width: 400px;
  background: #2f2c2e;
  padding: 10px 20px;
  border-radius: 20px;
  resize: none;
  outline: none;
}

input:focus , textarea:focus{
  outline: 2px solid #005288;
  color: #5500e9;
}
iframe{
  border-radius: 20px;
}
button{
  transition: all .3s linear;
}
button:hover{
  background-color: #5500e9;
  color: white;
}
@media (max-width : 1125px){
  #home{
    h1{
      font-size: 36px !important;
    }
    h2{
      font-size: 32px !important;
    }
  }
}
@media (max-width: 1024px){
  #home{
    flex-direction: column !important;

    #home-content{
      width: 70%;
      gap: 12px;

      h2{
        font-size: 30px;
      }
      h1{
        font-size: 36px;
      }
      p{
        width: 100% !important;
      }
    }

    #home-image{
      width: 100%;
      display: flex;
      justify-content: center;
  
      #image-div{
        margin-right: 0;
        width: 370px;
        margin: 8px 20px;
      }
    }
  }
}

@media (max-width: 920px){
  input , textarea{
    width: 350px;
  }
  iframe{
    width: 300px;
  }
}

@media (max-width: 768px){

  #home-content{
    margin-bottom: 80px !important;
    margin-right: 48px !important;
    margin-left: 48px !important;

    h2{
      font-size: 22px !important;
    }
    h1{
      font-size: 28px !important;
    }
    p{
      width: 100%;
    }
  }

  #home-image{
    width: 100%;

    #image-div{
      margin-right: 0;
      width: 320px !important;
      margin: 8px 20px;
    }
  }

  input , textarea{
    width: 300px;
  }
  iframe{
    width: 250px;
  }
}
@media (max-width: 640px){
  input , textarea{
    width: 400px;
  }
  iframe{
    width: 400px;
  }
}

@media (max-width: 450px){
  input , textarea{
    width: 300px;
  }
  iframe{
    width: 300px;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* My Services  */

#service-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: 96px 48px;

  #service-title{
    text-transform: uppercase;
    color: #5500e9;
    font-size: 48px !important;
    line-height: 1;
  }

  p{
    font-size: 17px;
    text-align: center;
  }

  #service-box{
    display: flex;
    gap: 64px;
    margin-top: 24px;
    font-size: 16px;

    .service-item{
      display: flex;
      flex-direction: column;
      gap: 24px;
      align-items: center;

      .service-icon{
        font-size: 150px;
      }

      .service-item-title{
        font-size: 22px;
      }

     
    }
    
  }
  button{
    background-color: #5500e9cf;
    width: 150px;
    padding: 8px 0px;
    border-radius: 99px;

    &:hover{
      background: #005288;
    }
  }
  
}


@media (min-width: 1024px){
  #service-container{
  margin: 40px 200px !important;

    #service-title{
      font-size: 48px !important;
      line-height: 1;
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px){

  #service-container{
     margin: 96px 64px;

     #service-title{
      font-size: 48px !important;
      line-height: 1;
    }

    .service-item-title{
      font-size: 22px;
    }
     
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  #service-container{
      margin-left:80px;
      margin-right:80px;

      #service-title{
        font-size: 36px !important;
        line-height: 40px;
    }

    #service-box{
      flex-direction: column;
    }
  }
}

@media (max-width: 639px){
  #service-container{
    margin-left:80px;
    margin-right:80px;

    #service-title{
      font-size:30px !important;
      line-height: 36px;
  }
}
}

/* Portfolio Section  */

  #portfolio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-top: 112px ;
    margin-bottom: 112px ;

    #portfolio-title{
      font-size: 48px;
      line-height: 1;
      color: #5500e9;
    }

    p{
      text-align: center;
      margin-left:64px;
      margin-right:64px;
    }

    #portfoli-projects-container{
      display: flex;
      gap: 20px;
      flex-wrap: wrap;
      justify-content: center;
      margin: 40px 0px;

      .projects-img-container{
        width: 350px;
        height: 200px;

        .Image{
          width: 100%;
          height: 100%;
        }
      }
    }

    button{
      color: #5500e9;
      background: white;
      width: 150px;
      padding: 8px 0px;
      border-radius: 99px;
  
      &:hover{
        background: #660088;
        color: white;
      }
    }
  }

  @media (min-width: 1024px){ 
    #portfolio-container{
      margin-top: 40px ;
      margin-bottom: 40px ;
    }
    
  }
  @media (min-width: 768px) and (max-width: 1023px){
    #portfolio-container{
      margin-left:80px;
      margin-right: 80px;

      .projects-img-container{
        width: 250px;
      }
    }
  }
  @media (min-width: 640px) and (max-width: 767px) {
    #portfolio-projects-container{
      gap:40px ;

      .projects-img-container{
        width: 100%;
      }
    }
  }

  @media (max-width: 639px){
      #portfolio-container{

        #portfolio-title{
          font-size: 36px;
          line-height: 40px;
        }
        #portfolio-projects-container{
          gap:40px ;

          .projects-img-container{
            width: 100%;
          }
        }
      }

      

  }

  /* Contact section  */

#contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 160px;
  gap: 32px;

  #contact-title{
    font-size: 48px;
    line-height: 1;
    color: #5500e9;
  }

  p{
    text-align: center;
  }

  #contact-form{
    display: flex;
    gap: 40px ;
    margin-top: 40px;

    #form-input{
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  }

  button{
    background-color: #5500e9;
    width: 150px;
    padding: 8px 0px;
    border-radius: 99px;

    &:hover{
      background: #005288;
    }
  }
}


@media (min-width: 1024px){ 
#contact-container-{
  margin: 40px;
}
}

@media (min-width: 768px) and (max-width: 1023px){

  #contact-container{
    margin-left:160px ;
    margin-right: 160px ;
}
  }
  #contact-title{
    font-size: 36px;
    line-height: 1;
  }


@media (min-width: 640px) and (max-width: 767px){
  #contact-container{
   
    #contact-title{
      font-size: 32px;
      line-height: 1;
    }
  }
}
@media (max-width: 639px){ 
  #contact-container{
    margin: 112px 0px;

    #contact-title{
      font-size: 30px;
      line-height: 1;
    }
    p{
      margin:0px 40px;
    }
  }

  #contact-form{
    flex-direction: column !important;
    
    
  }
}
